<ion-view view-title="About">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider text-center">
                <h1>ToDo App!</h1>
            </div>
            <div class="item text-center">
                version 1.0<br/><br/>
                designed & developed by<br/>
				Justin James <br />Blog: <a href="http://digitaldrummerj.me" target="_blank">http://digitaldrummerj.me</a> <br />Twitter: <a href="http://twitter.com/digitaldrummerj" target="_blank">@digitaldrummerj</a>
				for <a href="www.meetup.com/Ionic-AZ/">Ionic-AZ Meetup</a><br/> <br/>
                Built using: <br/>
                JavaScript, AngularJS, Cordova, & Ionic<br/><br/>
            </div>
        </div>
    </ion-content>
</ion-view>